.graph {
    padding: 10px;
    border-radius: 8px;
    position: relative;
  }
  
  .percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #32ff7e;
    font-weight: bold;
  }
  